.Score {
  text-align: right;
  position: absolute;
  top: 300px;
  right: 4px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 8px;
}

.DynamicScore {
  --vertical-move-by: 16px;

  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 4px;
  position: absolute;
  top: 300px;
  right: 4px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 8px;
}

.NumStripsWrapper {
  line-height: var(--vertical-move-by);
  height: var(--vertical-move-by);
  overflow: hidden;
  display: flex;
  column-gap: 2px;
}

.DynamicScoreStrip {
  position: relative;
  transition: top 0.6s ease-in-out;
}
